{% extends "layout.html" %}

{% block content %}
	<h1>TRUST BALL</h1>
	<div class="start">
		<p class="elementToFadeInAndOut">&#171; Press Any Button To Start &#187;</p>
	</div>
{% endblock %}

{% block javascript %}
  sessionStorage.clear();

  $.get( "/btn_index", function(data) {});

  $("h1").css({  "font-size": "20%" });
  $("h1").animate({ "font-size": "560%" }, 2000);

  $(document).keypress(function(e) {
    var n = numberPress(e.which);
    if ((n >= 1) && (n <= 5)) {
     	window.location.href = '/terms';
    }
  });
{% endblock %}