<p class="bender" id="question">
		<span id="context"></span><br/><br/>
		<span class="bold">Who would you trust to agree/disagree to this on your behalf?</span>
	</p>
<ul id="ul_questions">
	<li id="opt1">
		<img id="img1" src="assets/img1.png" alt="btn1">
		<p id="cap1">Myself</p>
	</li>
	<li id="opt2">
		<img id="img2" src="assets/img2.png" alt="btn2">
		<p id="cap2">Friend</p>
	</li>
	<li id="opt3">
		<img id="img3" src="assets/img3.png" alt="btn3">
		<p id="cap3">Expert</p>
	</li>
	<li id="opt4">
		<img id="img4" src="assets/img4.png" alt="btn4">
		<p id="cap4">Crowd</p>
	</li>
	<li id="opt5">
		<img id="img5" src="assets/img5.png" alt="btn5">
		<p id="cap5">AI Bot</p>
	</li>
</ul>