{% extends "layout.html" %}

{% block content %}
	<p class="bender" id="context"></p>
	<p class="bender" id="question">Who would you trust to decide on your behalf?</p>
	{% include "options.jinja" %}
{% endblock %}

{% block javascript %}
		showQ(sessionStorage.getItem("Qs")[4]);

		$.get( "/btn_Qs", function(data) {});
		var date1 = new Date();
		var ms1 = date1.getTime();
		
		$(document).keypress(function(e) {
			var n = numberPress(e.which);

			if ((n >= 1) && (n <= 5)){
				var date2 = new Date();
				var ms2 = date2.getTime();
				sessionStorage.setItem("elapseP3", (ms2-ms1));

				if (localStorage.getItem("newGame") == "newballs") {
					$.get( "/motors_page3", function(data) {});
				}

				sessionStorage.setItem("choiceP3", options[n-1]);
				fadeout(n);

				setTimeout(function(){
					window.location.href = "/summary";
				}, 2000);
			}
		});
{% endblock %}