{% extends "layout.html" %}

{% block content %}
	<div class="credits">
		<p style="font-size:1.8em;"><b>Credits</b></p>

		<p><b>Design and Build:</b><br/>
		Bettina Nissen<br/>
		Joanna Spreadbury
		</p>
		
		<p><b>Code:</b><br/>
		Rory Gianni<br/>
		Siyao Zhou
		</p>
		 
		<p><b>Content:</b><br/>
		Victoria Neumann (Lancaster University)<br/>
		Bettina Nissen
		</p>
		<p>A project by Design Informatics at the University of Edinburgh as part of the 
EPSRC-funded research project PACTMAN. For more information, please visit www.pactman.uk or email bettina.nissen@ed.ac.uk</p>
	</div>

	<div class="hidden">
	<div class="p takeball">
		<p>Please take your ball</p>
	</div>
	<div class="p summary">
		<p>In this game you trusted...</p>
		<p id="choices">
			<span id="c1"></span><br/>
			<span id="c2"></span><br/>
			<span id="c3"></span>
		</p>
	</div>
	<ul id="ul_agreementBtn">
		<li>Replay</li>
		<li>Start New Game</li>
	</ul>
	</div>
{% endblock %}

{% block javascript %}
		//<!-- print data out -->
		var elapse = [sessionStorage.getItem("elapseTerms"), sessionStorage.getItem("elapseP1"), sessionStorage.getItem("elapseP2"), sessionStorage.getItem("elapseP3"), sessionStorage.getItem("elapseAges")];
		var choices = [sessionStorage.getItem("choiceTerms"), sessionStorage.getItem("choiceP1"), sessionStorage.getItem("choiceP2"), sessionStorage.getItem("choiceP3"), sessionStorage.getItem("choiceAges")];

		if(sessionStorage.getItem("choiceTerms") == "AGREE"){
			document.getElementById("c1").innerHTML = "1. " + choices[1];
			document.getElementById("c2").innerHTML = "2. " + choices[2];
			document.getElementById("c3").innerHTML = "3. " + choices[3];
		} else {
			$('div.summary').remove();
		}

		setTimeout(function(){
			$('div.credits').fadeOut("slow", function(){
				$('div.hidden').fadeIn();
			});
			$.get( "/btn_summary", function(data) {});
		}, 4500);

                if (localStorage.getItem('newGame') == null) { localStorage.setItem('newGame', 'newballs');  }
		
		var data = {"game": localStorage.getItem("newGame"),
					"timestamp": sessionStorage.getItem("startTime"),
					"age": choices[4],
					"age_mspassed": elapse[4],
					"terms_choice": choices[0],
					"terms_mspassed": elapse[0],
					"p1_question": sessionStorage.getItem("Qs")[0],
					"p1_choice": choices[1],
					"p1_mspassed": elapse[1],
				    "p2_question": sessionStorage.getItem("Qs")[2],
				    "p2_choice": choices[2],
				    "p2_mspassed": elapse[2],
					"p3_question": sessionStorage.getItem("Qs")[4],
					"p3_choice": choices[3],
					"p3_mspassed": elapse[3],
		};


		fetch('/summary', {method: 'POST', 
			body: JSON.stringify(data),
			headers:{'Content-Type': 'application/json'}
		}).then(function(response) {
			return response.json();
		});

		//<!-- adding new records to localStorage -->
		if('localStorage' in window && window['localStorage'] !== null){
			try {
				var player = JSON.stringify(data),
					players = localStorage.getItem('player');

				players = players ? JSON.parse(players) : [];
				players.push(player);

				localStorage.setItem("player", JSON.stringify(players));
			} catch (e){
				if (e == QUOTA_EXCEEDED_ERR){
					alert('Quota exceeded!');
				}
			}
		} else {
			alert('error');
		}

		$(document).keypress(function(e) {
			var n = numberPress(e.which);

			if (n == 2 || n == 1 ){
				localStorage.setItem("newGame", "noballs");
				window.location.href = "/";
			}

			if (n == 4 || n == 5) {
				localStorage.setItem("newGame", "newballs");
				window.location.href = "/";
			}
		});

{% endblock %}
