{% extends "layout.html" %}

{% block content %}
	<div class="p terms">
		<p><b>Terms &amp; Conditions</b><br/><br/><br/>Trustball is a interactive game designed to research trust, data protection and consent by a team of researchers in Design Informatics at the University of Edinburgh as part of the EPSRC-funded research project PACTMAN.<br/><br/>
The purpose of this study is to understand how people trust and negotiate data sharing and consent. Your participation in this study will help us understand how we interact with digital technologies and how we can design them better for data protection. You can take a break at any time. You can leave at any time without giving a reason.<br/><br/>
We will record your interactions during the game. We do not collect any sensitive personal information. At times, we may ask you to fill out an anonymous survey after the game, which again is completely voluntary.<br/><br/>
This data will be treated as confidential and will not be shared outside our research group. We may publish research papers and reports that include your comments and actions but your data will be anonymous.<br/><br/>
If you want to withdraw your consent in the future, contact bettina.nissen@ed.ac.uk who will delete any personal data we hold about you (such as the collected data). Otherwise, we will delete your personal data after 5 years.
</p>
	</div>

	<div class="hidden agreed">
		<p>You agreed to the terms after <span id="seconds"></span> seconds! Did you really read them? Your data is now locked in the ball! Answer the questions to get it out!</p>
	</div>

	<div class="hidden disagreed">
		<p>Thanks for reading our terms. We will not process your data. But you can still play Trust Ball.</p>
	</div>

	<ul id="ul_agreementBtn">
		<li>&gt; I AGREE &lt;</li>
		<li>&gt; I DON'T AGREE &lt;</li>
	</ul>
{% endblock %}

{% block javascript %}
	var date1 = new Date();
	var ms1 = date1.getTime();
	var originalList = [1,2,3,4,5,6];
	var randomList = shuffle(originalList);

	timeoutId = setTimeout(function(){
		window.location.href = "/";
	}, 60000);

	sessionStorage.setItem("Qs",randomList);
	//document.getElementById("questionsOrder").innerHTML = sessionStorage.getItem("Qs");

	$.get( "/btn_summary", function(data) {});

	var transition = function(klass, mpassed){
		$('#seconds')[0].innerHTML = mpassed/1000;
		$('div.terms').fadeOut('slow');
		$('#ul_agreementBtn').fadeOut('slow', function(){
			$(klass).fadeIn();
		});
	}

	$(document).keypress(function(e) {
		var n = numberPress(e.which);

		if (n >= 1 && n <= 5) {
			var date2 = new Date();
			var ms2 = date2.getTime();
			var mpassed = (ms2-ms1);
                        sessionStorage.setItem("elapseTerms", mpassed);
			sessionStorage.setItem("startTime", date2);
			if (n <= 3 ){
				//<!-- do store data -->
				sessionStorage.setItem("choiceTerms", "AGREE");
                                transition('div.agreed', mpassed);
			        setTimeout(function(){
				  if (localStorage.getItem("newGame") == "newballs") {
					$.get( "/motor_begin", function(data) {});
				}
				window.location.href = '/demogram';
			}, 4500);
			} else {
				//<!-- do not store data -->
				sessionStorage.setItem("choiceTerms", "DISAGREE");
                                transition('div.disagreed', mpassed);
			        setTimeout(function(){
				  if (localStorage.getItem("newGame") == "newballs") {
					$.get( "/motor_begin", function(data) {});
				  }
				  window.location.href = '/p1';
				}, 4500);
			}
			

		}
	});
{% endblock %}
